html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sort-link-button {
    font-size: 0.75rem;
    padding: 1px;
    border: 1px solid black;
    border-radius: 2px;
    text-decoration: none;
    color: black;
}

.sort-link-button:hover {
    color: #1d5e96;
}

.sort-link-button:visited {
    color: black;
}