@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="site.css">
</head>

<div class="container">

    <br />

    <div class="row">
        <h1 class="display-4 text-center"><strong><u>CS Club</u></strong></h1>
    </div>

    <br />

    <div class="row">
        <div class="col-lg">
            <h3 class="text-center"><u><em>Who Are We?</em></u></h3>
            <br />
            <p class="text-left">
                The CS Club is an IT club aimed at students who want to learn how computers work and why they do what they do. It has a curriculum that, unlike the commonplace IT clubs, primarily focuses on the low-level technologies and other concepts underneath software instead of programming.
            </p>
        </div>
        <div class="col-lg">
            <h3 class="text-center"><u><em>Our Principles</em></u></h3>
            <br />
            <p class="text-left">
                1) The information itself is more important than the result.<br />
                2) Stackoverflow! (Not knowing something isn’t an issue, but not being able to reach the information is)<br />
                3) Coding is a means, not an end.<br />
                4) Understanding the underlying working principles of a chunk of code is at least as important as understanding the syntax.<br />
                5) Competitive programming and CS do not serve the same purpose.<br />
                6) Writing well-formatted and efficient code requires an adequate understanding of CS.<br />
                7) CS isn’t only about software, it’s also about hardware.<br />
                8) The skill of reading and understanding code is as important as the skill of writing code.<br />
            </p>
        </div>
    </div>
</div>