@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="site.css">
</head>

<div class="container">

    <br />

    <div class="row">
        <h1 class="display-4 text-center">CS Club</h1>
    </div>

    <br />

    <div class="row">
        <div class="col-lg">
            <h3 class="text-center">Description</h3>
            <p class="text-center">Lorem ipsum...</p>
        </div>
        <div class="col-lg">
            <h3 class="text-center">Principles</h3>
            <p class="text-center">Lorem ipsum...</p>
        </div>
    </div>
</div>

<!--Go Back Button-->
<form method="post" asp-page-handler="GoBack">
    <button class="btn btn-secondary" style="margin-top: 50px;" type="submit">Go Back</button>
</form>