@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Index Page</h1>
</div>

<!--Go Back Button-->
<form method="post" asp-page-handler="GoBack">
    <button class="btn btn-secondary" style="margin-top: 50px;" type="submit">Go Back</button>
</form>