@page
@model CSClub.Pages.MembersModel
@{
    ViewData["Title"] = "Member List";
}


<h1 class="text-center" style="margin-bottom: 50px">CS Club Member List</h1>

<div class="text-center" style="margin-top: 20px">
    <table class="table">
        <thead>
            <tr>
                <td>
                    Name
                    <form method="post" asp-page-handler="OnPost">
                        <input type="hidden" name="sortBy" value="name" />
                        <button class="sort-link-button" type="submit" name="toggle" value="descending">&#x25BC;</button>
                        <button class="sort-link-button" type="submit" name="toggle" value="ascending">&#x25B2;</button>
                    </form>
                </td>
                <td>
                    Grade
                    <form method="post" asp-page-handler="OnPost">
                        <input type="hidden" name="sortBy" value="grade" />
                        <button class="sort-link-button" type="submit" name="toggle" value="descending">&#x25BC;</button>
                        <button class="sort-link-button" type="submit" name="toggle" value="ascending">&#x25B2;</button>
                    </form>
                </td>
                <td>
                    Meetings Attended
                    <form method="post" asp-page-handler="OnPost">
                        <input type="hidden" name="sortBy" value="meetingsAttended" />
                        <button class="sort-link-button" type="submit" name="toggle" value="descending">&#x25BC;</button>
                        <button class="sort-link-button" type="submit" name="toggle" value="ascending">&#x25B2;</button>
                    </form>
                </td>
                <td>Is Co-President</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Members)
            {
                <tr>
                    <td>@m.Name</td>
                    <td>@m.Grade</td>
                    <td>@m.MeetingsAttended</td>
                    <td>@m.IsCoPresident</td>
                </tr>
            }
        </tbody>
    </table>
</div>