@page
@model CSClub.Pages.Teacher.LogsModel
@{
}

@if (!string.IsNullOrEmpty(HttpContext.Request.Cookies["AdminCookie"]))
{
    <a class="btn btn-primary" style="margin-top: 50px;">Edit Logs</a>
}

<!--Go Back Button-->
<form method="post" asp-page-handler="GoBack">
    <button class="btn btn-secondary" style="margin-top: 50px;" type="submit">Go Back</button>
</form>
